@use '../abstracts/typography' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;
// Section highlights
.highlights{
    .carousel{
        position:relative;
        .actual{
            @include center-inside;
            ul{
                @include center-inside;
                gap:$text-space;
                li{
                    list-style: none;
                    padding-bottom:0.5rem;
                }
                a{
                    text-decoration:none;
                    text-transform:uppercase;
                }
            }
        }
        .arrow{
            position:absolute;
            top:60%;
            width:120%;
            @include between-inside;
            a{
                img{
                    height:1.5rem;
                    background-color:$primary-color;
                }
            }
            a:first-child{
                transform:rotate(180deg);
            }            
        }
        .gallery{
                justify-content: space-evenly;
                position:relative;
            .item{
                img{
                    width:100%;
                    //width:26rem;
                }
            }
        }
    }
}

