@charset "UTF-8";
/**
**************** Desktop **************************
**/
/**
%center-inside
{
    display:flex;
    justify-content: center;
    align-items: center;
}
**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #F9F9F9;
  font-family: "Avenir Black", sans-serif;
  font-size: 3.5rem;
  margin: 1rem 0;
  text-align: center;
}

h2 {
  color: #F9F9F9;
  font-family: "Avenir Black", sans-serif;
  font-size: 2.7rem;
  margin: 1rem 0;
  text-align: center;
}

h3 {
  color: #F9F9F9;
  font-family: "Avenir Book", sans-serif;
  font-size: 1.7rem;
  margin: 1rem 0;
  text-align: center;
}

p {
  color: #C0C0C0;
  font-family: "Avenir Book", sans-serif;
  font-size: 1rem;
  margin: 1rem 0;
  text-align: center;
}

.comments {
  font-size: 0.75rem;
}

.higher-text {
  color: #F9F9F9;
  font-family: "Avenir Book", sans-serif;
  font-size: 1.25rem;
  margin: 1rem 0;
  text-align: center;
}

/**
**************** Desktop **************************
**/
@media (min-width: 769px) {
  h1 {
    color: #F9F9F9;
    font-family: "Avenir Black", sans-serif;
    font-size: 2.7rem;
    margin: 1rem 0;
    text-align: center;
  }
}
body {
  background-color: #040714;
}

.container-fluid {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.gallery .item {
  flex: 1 1 33.33%;
  padding: 0.5rem;
}
.gallery .item:first-child {
  flex: 3 1 100%;
  padding: 0.5rem;
}

.line {
  border-bottom: 3px solid #F9F9F9;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta a {
  text-decoration: none;
  color: #F9F9F9;
}

.carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
  list-style: none;
}

/**
**************** Desktop **************************
**/
@media (min-width: 769px) {
  .container {
    width: 89%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gallery .item {
    flex: 1 1 33.33%;
    padding: 0.5rem;
  }
  .gallery .item:first-child {
    flex: 1 1 33.33%;
    padding: 0.5rem;
  }
}
header .container-fluid {
  position: absolute;
  top: 0;
}
header .container-fluid nav {
  width: 94%;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

footer .foot {
  color: #C0C0C0;
  font-family: "Avenir Book", sans-serif;
  font-size: 0.5rem;
  margin: 1rem 0;
  text-align: center;
  width: 94%;
  color: #C0C0C0;
  font-family: "Avenir Book", sans-serif;
  font-size: 0.75rem;
  margin: 1rem 0;
  text-align: center;
}
footer .foot .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
footer .foot .floor {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
footer .foot .logo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
footer .foot .logo img {
  width: 5rem;
}
footer .foot .logo ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .foot .logo ul img {
  width: 0.75rem;
}
footer .foot P {
  color: #C0C0C0;
  font-family: "Avenir Book", sans-serif;
  font-size: 0.75rem;
  margin: 1rem 0;
  text-align: center;
}
footer .foot ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
}
footer .foot ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .foot ul li a {
  text-decoration: none;
  color: #C0C0C0;
  font-family: "Avenir Book", sans-serif;
  font-size: 0.75rem;
  margin: 1rem 0;
  text-align: center;
}
footer .foot ul li ul {
  gap: 0.75rem;
}

/**
**************** Desktop **************************
**/
@media (min-width: 769px) {
  footer .foot {
    color: #C0C0C0;
    font-family: "Avenir Book", sans-serif;
    font-size: 0.75rem;
    margin: 1rem 0;
    text-align: center;
  }
  footer .foot .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .foot .logo img {
    width: 5rem;
  }
  footer .foot P {
    color: #C0C0C0;
    font-family: "Avenir Book", sans-serif;
    font-size: 0.75rem;
    margin: 1rem 0;
    text-align: center;
  }
  footer .foot ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  footer .foot ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  footer .foot ul li a {
    text-decoration: none;
    color: #C0C0C0;
    font-family: "Avenir Book", sans-serif;
    font-size: 0.75rem;
    margin: 1rem 0;
    text-align: center;
  }
  footer .foot ul li ul {
    gap: 0.75rem;
  }
}
.banner-hero .row {
  margin-top: 0;
}
.banner-hero .row .banner {
  height: 80vh;
  background-image: url("../images/background/background-disney.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-hero .row .banner h1 {
  margin-top: 3rem;
}
.banner-hero .row .banner .bloc {
  width: 44%;
  margin-top: 2rem;
}
.banner-hero .row .banner .bloc .row-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-hero .row .banner .bloc .logo {
  justify-content: center;
}

.highlights .carousel {
  position: relative;
}
.highlights .carousel .actual {
  display: flex;
  justify-content: center;
  align-items: center;
}
.highlights .carousel .actual ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.highlights .carousel .actual ul li {
  list-style: none;
  padding-bottom: 0.5rem;
}
.highlights .carousel .actual ul a {
  text-decoration: none;
  text-transform: uppercase;
}
.highlights .carousel .arrow {
  position: absolute;
  top: 60%;
  width: 120%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.highlights .carousel .arrow a img {
  height: 1.5rem;
  background-color: #040714;
}
.highlights .carousel .arrow a:first-child {
  transform: rotate(180deg);
}
.highlights .carousel .gallery {
  justify-content: space-evenly;
  position: relative;
}
.highlights .carousel .gallery .item img {
  width: 100%;
}

.plan .bloc > .higher-text {
  color: #C0C0C0;
  margin: 0;
}
.plan .bloc > .cta {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.plan .bloc .gallery {
  justify-content: center;
  position: relative;
}
.plan .bloc .gallery .arrow {
  position: absolute;
  top: 40%;
  width: 120%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plan .bloc .gallery .arrow a img {
  height: 1.5rem;
  background-color: #040714;
}
.plan .bloc .gallery .arrow a:first-child {
  transform: rotate(180deg);
}
.plan .bloc .info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}
.plan .bloc .info p {
  text-align: left;
}
.plan .bloc .info P:last-child {
  color: #F9F9F9;
}

/**
**************** Desktop **************************
**/
@media (min-width: 769px) {
  .gallery {
    justify-content: space-evenly;
  }
}
.primary-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-family: "Avenir Book", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.75rem;
  background-color: #0063E5;
  text-transform: uppercase;
  width: 19.25rem;
  height: 4.25rem;
}
.primary-button p {
  margin: 0;
  line-height: 1rem;
}

.secondary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 21px;
  font-family: "Avenir Book", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #2B2D37;
  text-transform: capitalize;
  width: 14.78rem;
  height: 3rem;
  justify-content: start;
  gap: 0.6rem;
}
.secondary-button .secondary-sub-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 19px;
  font-family: "Avenir Book", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #0063E5;
  text-transform: capitalize;
  width: 8.5rem;
  height: 2.3rem;
}

.terciary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-family: "Avenir Book", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  width: 6.3rem;
  height: 3.1rem;
  border: 1px solid #F9F9F9;
}

/**
**************** Desktop **************************
**/
@media (min-width: 769px) {
  .terciary-button {
    border: none;
  }
}
.card-pack {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #2B2D37;
  position: relative;
  border: none;
  width: 32rem;
  height: 17rem;
  padding: 1.8rem 1.8rem;
}
.card-pack .content {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.card-pack .content .logo {
  justify-content: left;
  margin: 0;
  gap: 1rem;
}
.card-pack .content .logo img {
  height: 2.5rem;
}
.card-pack .content h3 {
  text-align: left;
  margin-bottom: 0;
}
.card-pack .content p {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.card-pack .content ul:last-child {
  margin-left: 1rem;
}
.card-pack .content ul:last-child li {
  color: #C0C0C0;
  font-family: "Avenir Book", sans-serif;
  font-size: 1rem;
  margin: 1rem 0;
  text-align: center;
  list-style-type: "✔ ";
  text-align: left;
  line-height: 1.5rem;
}
.card-pack .cta {
  align-items: start;
}
.card-pack .cta p {
  text-align: left;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.card-pack .cta p .higher-text {
  text-align: left;
}
.card-pack .cta .primary-button {
  width: 18rem;
  margin: 0;
}

/**
**************** Desktop **************************
**/
@media (min-width: 769px) {
  .card-pack {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    background-color: #040714;
    position: relative;
    border: 1px solid #F9F9F9;
    width: 24rem;
    height: 33rem;
    padding: 2.5rem 2.8rem;
  }
  .card-pack .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
  }
  .card-pack .content .logo {
    justify-content: left;
    margin: 0;
    gap: 1rem;
  }
  .card-pack .content .logo img {
    height: 2.5rem;
  }
  .card-pack .content h3 {
    text-align: left;
    margin-bottom: 0;
  }
  .card-pack .content p {
    text-align: left;
    margin-top: 0;
  }
  .card-pack .content ul:last-child {
    margin-left: 1rem;
  }
  .card-pack .content ul:last-child li {
    color: #C0C0C0;
    font-family: "Avenir Book", sans-serif;
    font-size: 1rem;
    margin: 1rem 0;
    text-align: center;
    list-style-type: "✔ ";
    text-align: left;
  }
  .card-pack .cta {
    align-items: start;
  }
  .card-pack .cta p {
    text-align: left;
  }
  .card-pack .cta p .higher-text {
    text-align: left;
  }
  .card-pack .cta .primary-button {
    width: 18rem;
    margin: 0;
  }
}
/**
**************** Mobile **************************
**/
@media (max-width: 769px) {
  .desktop {
    display: none;
  }
}
/**
**************** Desktop **************************
**/
@media (min-width: 769px) {
  .mobile {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
